* {
    /* 清除标签内外边距 */
    margin: 0;
    padding: 0;
    /* css3盒子模型 */
    box-sizing: border-box;
}

/* 去掉input边框 */
input {
    outline: none;
    border: 0px;
    border-bottom: 1px solid black;
}

ul,
ol,
li {
    /* 去掉ul,li,ol标识 */
    list-style: none;
}

img {
    /* 避免图片外边框 */
    border: 0;
    /* 取消图片底侧空白缝隙 */
    vertical-align: middle;
    width: 100%;
    height: 100%;
}

em,
i {
    /* 文字不倾斜 */
    font-style: none;
}

button {
    /* 按钮鼠标样式 */
    cursor: pointer;
}

a {
    color: #666;
    text-decoration: none;
}

body {
    /* 抗锯齿性 */
    -webkit-font-smoothing: antialiased;
    background-color: #666;
    overflow-x: hidden;
}

div {
    display: block;
}

.hide,
.none {
    display: none;
}

/* 清除浮动 */
.clearfix::after {
    visibility: hidden;
    clear: both;
    display: block;
    content: ' ';
    height: 0;
}

.clearfix {
    *zoom: 1;
}